<div class="panel-group category-products" id="accordian"><!--category-productsr-->
  <% @categories.each do |category| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
            <%= category.name %>
          </a>
        </h4>
      </div>
      <div id="sportswear" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <% category.subcategories.each do |subcategory| %>
              <li><a href="#"><%= subcategory.name %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <%end %>
</div><!--/category-products-->