<section>
  <div class="container">
    <div class="right-content">
      <div class="title title2"><h1>FAQ's</h1></div>
      <div id="faq_width" class="h-space space-5 cms-contact-block">
        <section id="faq">
          <h4>How to redeem samples?</h4>
          <div class="answer">
            <p class="p1"><img src="https://www.samplestore.com/images/Billboard---How-to-5-steps.png" alt=""></p>
          </div>
          <h4>How can I change my shipping address?</h4>
          <div class="answer">
            <p class="p1">By default, the last used shipping address will be saved into to your Sample Store account. When you are checking out your order, the default shipping address will be displayed and you have the option to amend it if you need to.</p>
          </div>
          <h4>How do I activate my account?</h4>
          <div class="answer">
            <p>The instructions to activate your account will be sent to your email once you have submitted the registration form. If you did not receive this email, your email service provider’s mailing software may be blocking it. You can try checking your junk / spam folder or contact us at help@samplestore.com</p>
          </div>
          <h4>What do you mean by points? How do I earn it?</h4>
          <div class="answer">
            <p>Because you are important to us, we want to know what you think about the products. As an added value, every time you rate the products you earn points which go straight to your account. 1 point are added to your account for every review that you give. You will need those points in order to redeem the sample products. So keep rating the products to keep earning points!</p>
          </div>
          <h4>Why is there a checkout limit? / What are all the checkout limits?</h4>
          <div class="answer">
            <p><strong>-</strong> Each member is entitled to only one (1) sample order every day.</p>
            <p><strong>-</strong> Each member is entitled to one (1) bundle of sample for each product.</p>
            <p><strong>-</strong> Your account must have sufficient points before you can checkout the sample products.</p>
            <p><strong>-</strong> Kindly clear all pending payments before another checkout.</p>
          </div>
          <h4>How can I track my orders &amp; payment?</h4>
          <div class="answer">
            <p>After logging into your account, the status of your checkout history can be found under Order History. For orders via registered postage, a tracking number (article tracking number) will be given to you after the receipt given from Singapore Post Limited(SingPost).</p>
          </div>
          <h4>How do I cancel my orders before I make a payment?</h4>
          <div class="answer">
            <p>After logging into your account, go to your Shopping Cart. Here, you will be able to make payment or cancel your order. Note: We cannot give refunds once payment is verified.</p>
          </div>
          <h4>How long will it take for my order to arrive after I make payment?</h4>
          <div class="answer">
            <p>Members who ship their orders within Singapore should expect to receive their orders within five (5) to ten (10) working days upon payment verification depending on the volume of orders received. <br> <br>If you experience delays in receiving your order, contact us immediately and we will help to confirm the status of your order.</p>
          </div>
          <h4>What is the accumulated delivery fee for? How much is the handling fee?</h4>
          <div class="answer">
              <p>The flat-rate handling fee is <span>S$3.99</span> and it is only applicable to normal samples. For free samples, they are fully paid for and there are no additional charges to deliver the free samples.<br><br> Handling fee covers the delivery, material, labour and logistics cost to support the sampling service. You can redeem up to 4 different samples in each checkout and it is likely that you will find samples bundle with larger supply (up to 1-week supply) on Samplestore.com.</p>
          </div>
          <h4>How do you ship my orders?</h4>
          <div class="answer">
            <p>All your orders are sent via <a href="#" target="_blank">Singapore Post Limited (SingPost)</a>.</p>
          </div>
          <h4>How can I use my remaining Account Credits?</h4>
          <div class="answer">
            <p>We are in the process of removing the option to pay for your orders by ‘Account Credits’. If you have remaining credits in your account, it will be used to pay for your next checkout.</p>
          </div>
          <h4>Why must I make payment immediately at checkout?</h4>
          <div class="answer">
            <p>Sample ordering is on ‘first-come-first-served’ basis. To ensure that you get your desired samples, it is recommended that you make your payment within 60 minutes of checking out.</p>
          </div>
          <h4>How many free samples can I redeem?</h4>
          <div class="answer">
            <p>Due to the limited quantity, each member's account is only entitled to 1 unique free sample. You can check out up to 4 free samples in each checkout.</p>
          </div>
          <h4>What happens if there's been a delivery mishap to my order? (Damaged or lost delivery)</h4>
          <div class="answer">
            <p><strong>1.</strong> In the event of damaged samples received, we will require photo proof of the affected samples and your D.O (Delivery Order) in order for us to investigate and review before a decision is made to re-send the sample to you at no cost, subject to availability. In light of this, any sample that falls into this category should not be thrown away before taking photo proof and emailing the photo to us at help@samplestore.com</p>
            <p><strong>2.</strong> In the event of lost mail, we will try to locate the delivery team in Singpost and if there's a clear indication that your order is indeed lost, we'll re-send the order to you at no cost, subject to availability.</p>
          </div>
          <h4>What happens in the event of unsatisfactory/expired/wrong sample/missing samples?</h4>
          <div class="answer">
            <p><strong>1.</strong> In the event that the sample you've received is unsatisfactory in any way you perceive, we will require photo proof of the sample and your D.O (Delivery Order) as well and you may be required to send us back the sample for close inspection and review before a decision is made to re-send a sample to you at no cost, subject to availability. The postage cost will be credited back to your account after we receive the returned item.&nbsp;</p>
            <p><strong>2.</strong> In the event that you receive an expired product, we will require clear photo proof of the sample and its expiry date for close inspection and review before a decision is made to re-send a sample to you at no cost, subject to availability.&nbsp;</p>
            <p><strong>3.</strong> In the event that you've received the wrong sample, we will require photo proof of the wrongly sent sample and D.O (Delivery Order) and after reviewing, we'll re-send the correct sample to you at no cost, subject to availability.</p>
            <p><strong>4.</strong> In the event you've received your order with a missing sample, we will require you to email us a clear photo proof of your D.O (Delivery Order) to help@samplestore.com and after which, kindly give us a call at (+65) 68440092 and our customer service officer will attend to you to find out more before a decision is made to re-send the missing sample to you at no cost, subject to availability.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>