<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="width: 600px; height: 400px; margin: 0 auto"></div>
<script>
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Orders shared July, 2016 to Aug, 2016'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Orders',
            colorByPoint: true,
            data: [{
                name: 'Completed Orders',
                y: <%= @completedorder %>
            }, {
                name: 'Shipped Orders',
                y: <%= @shippedorder %>            
            }, {
                name: 'Pending Orders',
                y: <%= @pendingorder %>
            }, {
                name: 'Cancelled Orders',
                y: <%= @canceledorder %>
            }]
        }]
    });
});
</script>