<%= @status.value.html_safe %>
<!-- <section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%#= link_to 'Home', root_path %></li>
        <li class="active">My Orders</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
    <div class="pull-left">
      <%#= form_tag(search_orders_path, :method => "get", id: "search-form") do %>
        <%#= text_field_tag :search_id, params[:search_id], placeholder: "Search Id" %>
        <%#= text_field_tag :search_created_at, params[:search_created_at], placeholder: "Search Date" %>
        <%#= submit_tag "Search" %>
      <%# end %>
    </div>
    </div>
  </div>
</section> -->

<!-- <section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="/welcome">Home</a></li>
        <li class="active">My Orders</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
    <div class="pull-right">
      <form id="search-form" action="/orders/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <input type="text" name="search_id" id="search_id" placeholder="Search Id">
        <input type="submit" name="commit" value="Search">
      </form>
    </div>
    </div>
  </div>
</section> -->