<td colspan="2">
  <form action="/user_carts/apply_coupon" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
  <label>Select Coupon</label><br>
   <input type="text" name="coupon" placeholder="Select Coupon"><br>
    <button name="button" type="submit" class="btn btn-primary">Apply</button>
  </form>    
  <div id="coupon_response">

  </div>               
</td>
<td colspan="2">
  <div class="coupon_response1">
    <% if session[:coupon].present? %>
    <ul>
      <label>Remove Coupon</label><br>
      <li>
        <%= @message %>
      </li>
      <li><%= link_to '<i class="fa fa-times"></i>'.html_safe, user_carts_remove_coupon_path, data: { confirm: 'Are you sure?' }, method: :delete, :class=>"cart_quantity_delete", remote:true %>
      </li>
    </ul>
   <% end %>
  </div>               
</td>

<td colspan="2" id="discount_total">
  <%= render 'total'%>
</td>